//
   Created by Adrien on 19/10/2017.

extends layout

block content
    h1= title
    p= message
    form(action="", method="post")
        input(type="text", name="username", placeholder="Nom d'utilisateur")
        input(type="password", name="password")
        input(type="submit", value="submit")
